.drawHeaderContainer{
    display: flex;
}

.drawconfigContainer{
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


  
@media(max-width: 950px) {
    .drawconfigContainer{
        flex-direction: column;
        gap: 0.5em;
        margin: 0.5em;
    }
}

.getawinner{
    margin: 0.5em;
    flex-basis: 50%;
    border: 2px solid green;
    border-radius: 20px;
    cursor: pointer;
    background-color: #157347;
    padding: 0.3rem;
    color: wheat;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.getawinner:hover{
    background-color: #1e915b;
}
    